
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*------------------------------------------------------------------
* dynamic-style.php index *
[Table of contents]

1.  Background color
2.  Topbar Background color
3.  Element Border color
4.  Textcolor
5.  Boxshadow
6.  Header / Footer background color
7.  Footer background color
8.  Logo Color
9.  Genral Elements
10. "Center Logo Between Menu" options

-------------------------------------------------------------------*/




/**
 * 1. Background color
 * ----------------------------------------------------------------------------
 */

.kwayy-heading-wrapper h1.kwayy-heading-align-center:after,
.kwayy-heading-wrapper h2.kwayy-heading-align-center:after,
.kwayy-heading-wrapper h3.kwayy-heading-align-center:after,
.kwayy-heading-wrapper h4.kwayy-heading-align-center:after,
.kwayy-heading-wrapper h5.kwayy-heading-align-center:after,
.kwayy-heading-wrapper h6.kwayy-heading-align-center:after,
.kwayy-heading-wrapper h1.kwayy-heading-align-left:after,
.kwayy-heading-wrapper h2.kwayy-heading-align-left:after,
.kwayy-heading-wrapper h3.kwayy-heading-align-left:after,
.kwayy-heading-wrapper h4.kwayy-heading-align-left:after,
.kwayy-heading-wrapper h5.kwayy-heading-align-left:after,
.kwayy-heading-wrapper h6.kwayy-heading-align-left:after,
.kwayy-heading-style-normal:after, 
.wpb_heading:after, 
.footer .widget-title:after, 
.sidebar .widget-title:after, 
.kwayy-portfolio-text h1:after,
.kwayy-blog-text h1:after, 
.kwayy_cta_sepline_yes.vc_call_to_action h4.wpb_heading:after,
.kwayy-btn-effect-colortoborder.kwayy-btn-color-skincolor,
.kwayy-row-bgtype-skin,
.kwayy-btn-effect-colortogrey.kwayy-btn-color-skincolor,
.kwayy-btn-effect-colortodarkgrey.kwayy-btn-color-skincolor, 
.kwayy-wbar-bgcolor-skincolor,
.kwayy-btn-effect-bordertocolor.kwayy-btn-color-skincolor:hover,
.kwayy-btn-effect-greytocolor.kwayy-btn-color-skincolor:hover,
.kwayy-btn-effect-darkgreytocolor.kwayy-btn-color-skincolor:hover,
.portfolio-sortable-list ul li a.selected, 
.portfolio-sortable-list ul li a:hover,
.kwayy-servicebox-righticon .kwayy-icon,
.kwayy-servicebox-lefticon .kwayy-icon,
.tp-caption.themeline,
.vc_progress_bar .vc_single_bar .vc_bar.striped, 
.footersocialicon,
.kwayy-post-left .entry-date,
body .owl-theme .owl-controls .owl-buttons div:hover,
.flex-direction-nav a:hover,
.tagcloud a:hover,
button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"],
.kwayy-team-social-links a:hover,
.kwayy-row-bgcolor-grey .kwayy-btn-effect-colortoborder.kwayy-btn-color-white,
.kwayy-servicebox-bordercentericon .kwayy-icon,
.kwayy-heading-wrapper .kwayy-heading-align-right:after,
.kwayy-heading-style-normal.kwayy-heading-align-right:after,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_layered_nav_filters ul li a, 
.woocommerce-page .widget_layered_nav_filters ul li a,
.item-thumbnail .icons i:hover,
.kwayy-team-box .kwayy-team-icons i:hover,
.vc_btn_skincolor,
.wpb_skincolor,
.kwayy-pf-btn .wpb_button_a .wpb_button,
.kwayy-blogbox-btn .wpb_button_a .wpb_button,
.tp-caption.skin_divider,
.kwayy-testimonial-icon,
.kwayy-testimonial-wrapper .flex-control-paging li a.flex-active,
.wpb_gallery_slides .flex-control-paging li a.flex-active,
.kwayy-pagination .page-numbers.current,
.kwayy-pagination a.page-numbers:hover,
.woocommerce ul.products li.product .add_to_cart_button, 
.woocommerce-page ul.products li.product .add_to_cart_button,
.woocommerce-page ul.products li.product .button.product_type_variable,
.woocommerce ul.products li.product .button.product_type_variable,
.vc_progress_bar .vc_single_bar.skincolor .vc_bar,
body.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.kwayy-row-bgtype-colors.kwayy-row-bgprecolor-dark .kwayy-testimonial-wrapper .flex-control-paging li a.flex-active,
.kwayy-row-bgtype-video.kwayy-row-bgprecolor-dark .kwayy-testimonial-wrapper .flex-control-paging li a.flex-active,
.kwayy-row-bgprecolor-skin,
.kwayy-tst-contarea-text:after,
.kwayy-entry-date,
.nav-menu .children,
ul.nav-menu > li > a:before,
.kwayy-tbar-team-search-box-w,
.format-gallery .entry-content .page-links a:hover, 
.format-audio .entry-content .page-links a:hover, 
.format-status .entry-content .page-links a:hover, 
.format-video .entry-content .page-links a:hover, 
.format-chat .entry-content .page-links a:hover, 
.format-quote .entry-content .page-links a:hover, 
.page-links a:hover,
.widget_calendar  #today,
.woocommerce-page ul.products li.product .product_type_grouped:hover, 
.woocommerce ul.products li.product .product_type_grouped:hover,
.woocommerce div.product form.cart .button:hover, 
.woocommerce-page div.product form.cart .button:hover, 
.woocommerce #content div.product form.cart .button:hover, 
.woocommerce-page #content div.product form.cart .button:hover,
.woocommerce a.button:hover, 
.woocommerce-page a.button:hover, 
.woocommerce button.button, .woocommerce-page button.button:hover, 
.woocommerce input.button, .woocommerce-page input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce #content input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce table.cart td.actions .button.alt:hover, 
.woocommerce-page table.cart td.actions .button.alt:hover, 
.woocommerce #content table.cart td.actions .button.alt:hover, 
.woocommerce-page #content table.cart td.actions .button.alt:hover,
.woocommerce-page #content input.button[name="update_cart"]:hover,
.woocommerce #content input.button[name="update_cart"]:hover,
.woocommerce-page #content input.button[name="apply_coupon"]:hover,
.woocommerce #content input.button[name="apply_coupon"]:hover,
.woocommerce #payment #place_order:hover, 
.woocommerce-page #payment #place_order:hover, 
.product-remove a,
.woocommerce .widget_price_filter .price_slider_amount .button:hover, 
.woocommerce-page .widget_price_filter .price_slider_amount .button:hover,
#totop:hover,
ul.nav-menu li li a:hover, 
ul.nav-menu li li:hover > a, 
ul.nav-menu li li.current-menu-item > a,  
div.nav-menu > ul li li a:hover, 
div.nav-menu > ul li li:hover > a, 
div.nav-menu > ul li li.current-menu-item > a,
.kwayy-team-term-list ul li a:hover,
.kwayy-team-term-list ul li.kwayy-active a,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a:before,
#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover,
#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li:hover > a,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-current-menu-ancestor > a:before,
#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li.current-menu-item a,
#navbar #site-navigation .mega-menu-wrap .mega-menu-flyout .mega-sub-menu li.mega-current-menu-item > a,
.widgettitle:after,
#bbpress-forums ul li.bbp-header,
#bbpress-forums button,
.bbp-submit-wrapper .button,
.widget .bbp-logged-in .button,
.tribe-events-list .tribe-events-event-cost span,
.item-thumbnail .tribe-events-event-cost,
#tribe-bar-form .tribe-bar-submit input[type=submit],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a, 
#tribe_events_filters_wrapper input[type=submit], 
.tribe-events-button, 
#tribe-events .tribe-events-button, .tribe-events-button.tribe-inactive, 
#tribe-events .tribe-events-button:hover, 
.tribe-events-button:hover, 
.tribe-events-button.tribe-active:hover,
.single-tribe_events .tribe-events-schedule .tribe-events-cost,
.tribe-events-page-template .datepicker .datepicker-days table tr td:hover,
.kwayy-ibgcolor-skincolor,

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
	background-color: #007a6d;
}
/* This is Titlebar Backgroundcolor */
.kwayy-titlebar-wrapper .kwayy-titlebar-inner-wrapper{
	background-color:  rgba( 0,0,0 , 0.75);
}
/* This is Tranparent Backgroundcolor */
.kwayy-row-bgprecolor-skin:after,
.wpb_skincolor:hover{
	background: rgba( 0,122,109 , 0.85)
}
body #shaon-pricing-table .priceTitle span,
body #shaon-pricing-table .featureTitle span,
.error404 a.back-button,
body.woocommerce nav.woocommerce-pagination ul li span.current, 
body.woocommerce #content nav.woocommerce-pagination ul li span.current, 
body.woocommerce-page nav.woocommerce-pagination ul li span.current, 
body.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce ul.products li.product .onsale, 
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale, 
.woocommerce-page span.onsale{
	background: #007a6d;   
}
/* Rev-slider */
.vc_btn_skincolor.vc_btn_outlined:hover, .vc_btn_skincolor.vc_btn_square_outlined:hover,
.tp-bullets .bullet.selected, 
.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover,
.tp-button.skin,
.tp-caption.mediumskincolorbg{
     background-color:  #007a6d !important;
}

/* Logo Max-Height */
.headercontent .headerlogo img{
     max-height: 50px;
}


/* Pricing Table */
a.ptp-button:hover,
.ptp-highlight a.ptp-button,
.ptp-highlight div.ptp-price {
	background-color:  #007a6d !important;
}
.ptp-highlight div.ptp-plan {
	background-color: rgba( 0,122,109 , 0.8) !important;
}


/**
 * 2. Topbar Background color
 * ----------------------------------------------------------------------------
 */
header .kwayy-topbar{
	background-color: #f7f7f7;
}

/**
 * 3. Element Border color
 * ----------------------------------------------------------------------------
 */

.kwayy-team-search-btn{
	border-top-color: #007a6d;
}
.kwayy-content-team-search-box .submit_field button:hover{
	border-color: #007a6d;
    color: #007a6d;
}
ul.nav-menu li li a:hover, 
ul.nav-menu li li:hover > a, 
ul.nav-menu li li.current-menu-item > a,  
div.nav-menu > ul li li a:hover, 
div.nav-menu > ul li li:hover > a, 
div.nav-menu > ul li li.current-menu-item > a,
.kwayy-team-term-list ul li a:hover,
.kwayy-team-term-list ul li.kwayy-active a,
.bbp-submit-wrapper .button:hover,
.widget .bbp-logged-in .button:hover {	
    border-color: #007a6d;
}
/* This is Genaral css */
.portfolio-sortable-list ul li a.selected, 
.portfolio-sortable-list ul li a:hover, 
.tagcloud a:hover,
.kwayy-row-bgcolor-grey .kwayy-btn-effect-colortoborder.kwayy-btn-color-white:hover,
#content #bbpress-forums ul.bbp-forums, 
#content #bbpress-forums ul.bbp-topics,
.widget .bbp-logged-in .button:hover,
.df-layout-grand .toggle2 .wpb_toggle_title_active, .df-layout-grand #ui-datepicker-div .ui-datepicker-today, .tribe-events-page-template .datepicker table tr td.active.active, .tribe-events-page-template .datepicker table tr td span.active.active, .ui-timepicker-div .ui-slider-handle, .widget_tag_cloud .tagcloud a:hover, .df-layout-grand .ui-datepicker-calendar tbody tr td:hover, .ui-datepicker-calendar .dp-highlight-begin, .ui-datepicker-calendar .dp-highlight, .ui-datepicker-calendar .dp-highlight-end {
	border: 1px solid #007a6d;
}
.kwayy-pagination .page-numbers.current, .kwayy-pagination .page-numbers:hover {
    border-right: 1px solid #007a6d;
}
.kwayy-carousel-controls-inner a:hover,
.kwayy-row-bgprecolor-dark .vc_btn_skincolor.vc_btn_square:hover,
.entry-content .vc_btn_skincolor:hover, .vc_btn_skincolor:hover,
blockquote,
.vc_btn_skincolor.vc_btn_outlined, .vc_btn_skincolor.vc_btn_square_outlined,
.vc_btn_skincolor.vc_btn_outlined:hover, .vc_btn_skincolor.vc_btn_square_outlined:hover,
.tribe-events-list .tribe-events-event-cost span,
.item-thumbnail .tribe-events-event-cost,
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover{
	border-color: #007a6d;
}

/**
 * 4. Textcolor
 * ----------------------------------------------------------------------------
 */
.kwayy-row-textcolor-skin p{
	color:rgba( 0,122,109 , 0.7);
}
a:hover,
.comment-content a,
.skincolor, .site-title span, 
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before,
.comment-content a:hover,
.kwayy-btn-effect-bordertocolor.kwayy-btn-color-skincolor span,
.kwayy-btn-effect-colortoborder.kwayy-btn-color-skincolor,
.kwayy-btn-effect-colortoborder.kwayy-btn-color-skincolor:hover span,
.widget a:hover,
.kwayy-servicebox-lefticonspacing .kwayy-icon,
.kwayy-row-bgprecolor-skin .kwayy-servicebox .kwayy-ibgcolor.kwayy-icon,
.kwayy-carousel-controls-inner a:hover i,
.kwayy-row-bgtype-colors.kwayy-row-bgprecolor-skin .kwayy-testimonial-icon i,
.kwayy-row-bgtype-video.kwayy-row-bgprecolor-skin .kwayy-testimonial-icon i,
.kwayy-testimonial-title,
.kwayy-testimonial-title a,
.kwayy-meta-details a:hover,
.kwayy-post-right .entry-title a:hover,
input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover,
.nav-links a[rel="prev"]:hover, 
.nav-links a[rel="next"]:hover,
.colored,
.kwayy-row-bgcolor-grey .kwayy-btn-effect-colortoborder.kwayy-btn-color-white:hover span,
.portfolio-wrapper .item:hover .item-content h4 a, 
.portfolio-box .item:hover .item-content h4 a,
.kwayy-heading-sepicon i,
.kwayy_footer_menu ul li a:hover,
.copyright .kwayy_footer_text a:hover,
.vc_btn.vc_btn_round.vc_btn_skincolor:hover,
.woocommerce ul.products li.product .add_to_cart_button:hover, 
.woocommerce-page ul.products li.product .add_to_cart_button:hover, 
.woocommerce-page ul.products li.product .button.product_type_variable:hover, 
.woocommerce ul.products li.product .button.product_type_variable:hover,
.woocommerce .star-rating span:before, 
.woocommerce-page .star-rating span:before,
.wpb_tour.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a, 
.wpb_tabs.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a,
.woocommerce div.product span.price, 
.woocommerce-page div.product span.price, 
.woocommerce #content div.product span.price, 
.woocommerce-page #content div.product span.price, 
.woocommerce div.product p.price,
.woocommerce-page div.product p.price, 
.woocommerce #content div.product p.price, 
.woocommerce-page #content div.product p.price,
body.error404 .page-content h1,
body.error404 .page-content i:before,
ul.kwayy_vc_contact_wrapper li:before,
.kwayy-titlebar-wrapper .breadcrumb-wrapper a:hover,
.kwayy-portfolio-likes-wrapper .like-active,
.kwayy-team-box:hover .kwayy-team-title,
.kwayy-team-title a:hover,
ul.nav-menu > li.current-menu-item > a, 
div.nav-menu > ul > li.current_page_item > a,
ul.nav-menu > li:hover > a,
ul.nav-menu > li:hover > a, 
ul.nav-menu > li a:hover, 
div.nav-menu > ul > li.current_page_item > a:hover, 
div.nav-menu > ul > li:hover > a,
ul.nav-menu li ul, 
div.nav-menu > ul .children,
ul.nav-menu > li.current-menu-ancestor > a,
a.kwayy-portfolio-likes,
.kwayy-servicebox.kwayy-servicebox-centericon .kwayy-icon,
.kwayy-servicebox.kwayy-servicebox-righticonspacing .kwayy-icon,
.inside .kwayy-fid-wrapper i,
#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu > li.mega-current-menu-parent > a,
.kwayy-team-cat-links a,
.item-content h4 a:hover,
.kwayy-sb-main-link a,
.kwayy-post-readmore a,
.kwayy-tbar-team-search-box .submit_field button:hover,
.widget_calendar tbody a,
.widget_calendar a,
.site-main ul li:before,
ul.special li:before,
ol.special li:before,
.kwayy-blogbox-btn .wpb_button_a .wpb_button:hover,
.kwayy-pf-btn .wpb_button_a .wpb_button:hover, 
.kwayy-blogbox-btn .wpb_button_a .wpb_button:hover,
.entry-content .vc_btn_skincolor:hover, 
.vc_btn_skincolor:hover,
body.search-no-results .page-content .kwayy-big-icon i:before,
.kwayy-row-textcolor-skin h1, 
.kwayy-row-textcolor-skin h2, 
.kwayy-row-textcolor-skin h3, 
.kwayy-row-textcolor-skin h4, 
.kwayy-row-textcolor-skin h5, 
.kwayy-row-textcolor-skin h6, 
.kwayy-row-textcolor-skin span,
.large-skincolor-bold,
.woocommerce-page ul.products li.product .product_type_grouped, 
.woocommerce ul.products li.product .product_type_grouped,
.woocommerce div.product form.cart .button, 
.woocommerce-page div.product form.cart .button, 
.woocommerce #content div.product form.cart .button, 
.woocommerce-page #content div.product form.cart .button,
.woocommerce a.button, 
.woocommerce-page a.button, 
.woocommerce button.button, .woocommerce-page button.button, 
.woocommerce input.button, .woocommerce-page input.button, 
.woocommerce #respond input#submit, 
.woocommerce-page #respond input#submit, 
.woocommerce #content input.button,
.woocommerce-page #content input.button
.woocommerce table.cart td.actions .button.alt, 
.woocommerce-page table.cart td.actions .button.alt, 
.woocommerce #content table.cart td.actions .button.alt, 
.woocommerce-page #content table.cart td.actions .button.alt,
.woocommerce-page #content input.button[name="update_cart"],
.woocommerce #content input.button[name="update_cart"],
.woocommerce-page #content input.button[name="apply_coupon"],
.woocommerce #content input.button[name="apply_coupon"],
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order,
.woocommerce .widget_price_filter .price_slider_amount .button, 
.woocommerce-page .widget_price_filter .price_slider_amount .button,
.comment-reply-link:hover,
.comment-meta a:hover,
.widget_calendar #today a:hover,
#bbpress-forums button:hover,
#content #bbpress-forums ul.topic:hover a.bbp-topic-permalink,
#content #bbpress-forums ul.forum:hover a.bbp-forum-title,
.bbp-submit-wrapper .button:hover,
.widget .bbp-logged-in .button:hover,
.site-main .widget ul > li.current-menu-item a,
.site-main .widget ul > li.current_page_item a,
.k_flying_searchform .k_searchlink a:hover,
.footer.footer-text-color-dark .widget a:hover,
.footer.footer-text-color-white .widget a:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover,
.kwayy-icontext i:before,

.woocommerce ul.products li.product a:hover h3,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
body .kwayy-fbar-widgets-area .widget .tagcloud a:hover,
.kwayy-fbar-widgets-area input[type="submit"]{
	color: #007a6d;
}
.vc_btn_skincolor.vc_btn_outlined, .vc_btn_skincolor.vc_btn_square_outlined,
.wpb_call_to_action .wpb_button_a .wpb_button.wpb_skincolor:hover,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover, 
.wpb_accordion .wpb_accordion_wrapper .ui-state-active a,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item.mega-toggle-on > a, 
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item:hover > a,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-current-menu-ancestor > a,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-current-menu-item > a{
	color: #007a6d !important;
}

/**
 * 5. Boxshadow
 * ----------------------------------------------------------------------------
 */
.kwayy-btn-effect-colortoborder.kwayy-btn-color-skincolor:hover,
.kwayy-btn-effect-bordertocolor.kwayy-btn-color-skincolor,
button:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover,
.vc_btn.vc_btn_round.vc_btn_skincolor:hover,
.wpb_call_to_action .wpb_button_a .wpb_button.wpb_skincolor:hover,
.kwayy-pf-btn .wpb_button_a .wpb_button:hover,
.kwayy-blogbox-btn .wpb_button_a .wpb_button:hover,
.woocommerce ul.products li.product .add_to_cart_button:hover, 
.woocommerce-page ul.products li.product .add_to_cart_button:hover, 
.woocommerce-page ul.products li.product .button.product_type_variable:hover, 
.woocommerce ul.products li.product .button.product_type_variable:hover{
	box-shadow: 0 0 0 1px #007a6d inset;	
}
/* This is Boxshadow */
.tp-button.skin:hover{
	box-shadow: 0 0 0 1px #007a6d inset !important;	
}

.vc_btn_skincolor.vc_btn_3d {
	background-color:  rgba( 0,122,109 , 0.8);
    -webkit-box-shadow: 0 5px 0 rgba( 0,122,109 , 1);
    box-shadow: 0 5px 0 rgba( 0,122,109 , 1);
}
.vc_btn_skincolor.vc_btn_3d:hover{
	background-color:  rgba( 0,122,109 , 0.9);
}
body.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background: rgba( 0,122,109 , 0.7);
}
body .minimal .p1 h4{
	background: #007a6d;
    box-shadow: 0 1px 1px rgba( 0,122,109 , 0.7) inset;
}
body .minimal .highlight h3{
	background: #006659;
}

body .pagination span.current,
body.woocommerce nav.woocommerce-pagination ul li span, 
body.woocommerce #content nav.woocommerce-pagination ul li span, 
body.woocommerce-page nav.woocommerce-pagination ul li span, 
body.woocommerce-page #content nav.woocommerce-pagination ul li span{
	border: 1px solid #007a6d;
}
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page nav.woocommerce-pagination ul li a:hover, 
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover  {
 	background-color: #007a6d;
    border-color: #007a6d;
}
.woocommerce-page ul.products li.product .product_type_grouped, 
.woocommerce ul.products li.product .product_type_grouped,
.woocommerce div.product form.cart .button, 
.woocommerce-page div.product form.cart .button, 
.woocommerce #content div.product form.cart .button, 
.woocommerce-page #content div.product form.cart .button,
.woocommerce a.button, 
.woocommerce-page a.button, 
.woocommerce button.button, .woocommerce-page button.button, 
.woocommerce input.button, .woocommerce-page input.button, 
.woocommerce #respond input#submit, 
.woocommerce-page #respond input#submit, 
.woocommerce #content input.button,
.woocommerce-page #content input.button
.woocommerce table.cart td.actions .button.alt, 
.woocommerce-page table.cart td.actions .button.alt, 
.woocommerce #content table.cart td.actions .button.alt, 
.woocommerce-page #content table.cart td.actions .button.alt,
.woocommerce-page #content input.button[name="update_cart"],
.woocommerce #content input.button[name="update_cart"],
.woocommerce-page #content input.button[name="apply_coupon"],
.woocommerce #content input.button[name="apply_coupon"],
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order,
.woocommerce .widget_price_filter .price_slider_amount .button, 
.woocommerce-page .widget_price_filter .price_slider_amount .button{
	box-shadow: 0 0 0 2px  #007a6d inset;	    
}

/**
 * 6. Header / Footer background color
 * ----------------------------------------------------------------------------
 */
header .headerblock .header-inner, #stickable-header-sticky-wrapper,
.kwayy-header-style-3 .is-sticky #navbar {
	background-color: #ffffff;
}

/**
 * 7. Footer background color
 * ----------------------------------------------------------------------------
 */
footer.site-footer > div.footer{
	background-color: #222222;
}
footer.site-footer > div.site-info{
	background-color: #111111;
}


/**
 * 8. Logo Color
 * ----------------------------------------------------------------------------
 */

h1.site-title{
	color: #303a3b;
}

/**
 * 9. Genral Elements
 * ----------------------------------------------------------------------------
 */

#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover,
#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li:hover > a,
#navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li.current-menu-item a,
#navbar #site-navigation .mega-menu-wrap .mega-menu-flyout .mega-sub-menu li.mega-current-menu-item > a{
    border-bottom: 1px solid #007a6d;
    border-right: 1px solid #007a6d;
}
/* Site Pre-loader image */
.pageoverlay{
	background-image:url('../images/loader2.gif');
}







/* *** Header height *** Sticky Header Height *** */

/* *** Header height *** */
.headerlogo,
.search_box, 
.thememount-header-cart-link-wrapper{
	height: 80px !important;
	line-height: 80px !important;
}


ul.nav-menu > li > a:before,
div.nav-menu > ul > li > a:before,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a:before{
	top: 70px;
}
ul.nav-menu > li:hover > a:before,
div.nav-menu > ul > li:hover > a:before,
.main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item:hover > a:before {
    top: 55px;
}
.kwayy-header-style-1 .k_flying_searchform .k_searchlink a,
.kwayy-header-style-2 .k_flying_searchform .k_searchlink a{
	margin-top: 23px;
}
.kwayy-header-style-1 .sticky-wrapper.is-sticky .k_flying_searchform .k_searchlink a,
.kwayy-header-style-2 .sticky-wrapper.is-sticky .k_flying_searchform .k_searchlink a{
	margin-top: 13px;
}
#navbar #site-navigation .mega-menu-wrap .mega-menu-toggle{
	top: 20px;
}

/* *** Sticky Header Height *** */
.is-sticky .headerlogo,
.is-sticky .search_box, 
.is-sticky .thememount-header-cart-link-wrapper{
	height: 60px !important;
	line-height: 60px !important;
}
.is-sticky ul.nav-menu li > ul,
.is-sticky ul.nav-menu li:hover > ul,
.is-sticky div.nav-menu > ul li > ul,
.is-sticky div.nav-menu > ul li:hover > ul{
	top: 60px;
}





/**
 * "Center Logo Between Menu" options
 * ----------------------------------------------------------------------------
 */
.kwayy-header-style-2 #stickable-header ul.nav-menu > li.logo-after-this, 
.kwayy-header-style-2 #navbar #site-navigation .mega-menu-wrap .mega-menu > li.mega-logo-after-this{
	margin-right: 350px;
   }
.kwayy-header-style-2 h1.site-title { width: 350px;; margin: 0 auto; }


.kwayy-header-style-2 #stickable-header ul.nav-menu > li:first-child, 
.kwayy-header-style-2 #stickable-header div.nav-menu > ul > li:first-child,
.kwayy-header-style-2  #navbar #site-navigation .mega-menu-wrap .mega-menu > li:first-child{margin-left: 0px;}



/* ********************* Responsive Menu Code Start *************************** */

/**
 * Responsive Menu
 * ----------------------------------------------------------------------------
 */


@media (min-width: 1200px) {
 
 	.kwayy-header-style-1 ul.nav-menu li ul, 
    .kwayy-header-style-1 div.nav-menu > ul .children,
    .kwayy-header-style-2 ul.nav-menu li ul, 
    .kwayy-header-style-2 div.nav-menu > ul .children{
        top: 110px;
    }
    ul.nav-menu li:hover > ul, 
    ul.nav-menu ul li:hover > ul, 
    div.nav-menu > ul li:hover > ul, 
    div.nav-menu > ul ul li:hover > ul{
        top: 80px;
    } 
 
    .kwayy-header-style-1 ul.nav-menu > li > a, 
    .kwayy-header-style-1 div.nav-menu > ul > li > a,
    .kwayy-header-style-1 #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item > a,
    
    .kwayy-header-style-2 ul.nav-menu > li > a, 
    .kwayy-header-style-2 div.nav-menu > ul > li > a,
    .kwayy-header-style-2 #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item > a    {
        height: 80px;
        line-height: 80px !important;
    } 
    
    .kwayy-header-style-1 .is-sticky ul.nav-menu > li > a, 
    .kwayy-header-style-1 .is-sticky div.nav-menu > ul > li > a,
    .kwayy-header-style-1 .is-sticky #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item > a,
    
    .kwayy-header-style-2 .is-sticky ul.nav-menu > li > a, 
    .kwayy-header-style-2 .is-sticky div.nav-menu > ul > li > a,
    .kwayy-header-style-2 .is-sticky #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item > a {
        height: 60px !important;
        line-height: 60px !important;
    }       
    .is-sticky ul.nav-menu > li > a:before,
    .is-sticky div.nav-menu > ul > li > a:before,
    .is-sticky .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a:before{
        top: 60px;
    }
    .is-sticky ul.nav-menu > li:hover > a:before,
    .is-sticky div.nav-menu > ul > li:hover > a:before,
    .is-sticky .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item:hover > a:before{
        top: 40px;
    }    
    .is-sticky .headercontent .headerlogo img{
         max-height: 50px;
    }
    
    
}
 

@media (max-width: 1200px){


 /**
 *  Header Section
 * ----------------------------------------------------------------------------
 */
	
    .headerlogo,
    .search_box, 
    .thememount-header-cart-link-wrapper{
        height: 80px;
        line-height: 80px !important;
    }    
    #stickable-header-sticky-wrapper{
		height:auto !important;
	}	
	.masthead-header-stickyOnScroll{
		position: relative !important;
	}	
	.header-inner {
		height:auto;		
	}
	.sticky-wrapper .header-inner{
		top:0px;
	}	
	.header-inner .navbar {
		width:auto
	}
        
    .tm-header-invert .k_flying_searchform span,
    .tm-header-invert .menu-toggle {
        left: 0px;
        right: inherit;
    }
    .tm-header-invert #navbar.k_searchbutton #site-navigation .mega-menu-wrap .mega-menu-toggle,
    .tm-header-invert #navbar.k_searchbutton .menu-toggle{
    	left: 49px;
        right: inherit;
    }    
    .tm-header-invert .k_searchbutton .menu-main-menu-container, 
    .tm-header-invert #navbar.k_searchbutton #site-navigation .mega-menu-wrap {
        margin-right: 0px;
        margin-left: 0px;
    }
    .k_searchbutton .menu-main-menu-container, 
    #navbar.k_searchbutton #site-navigation .mega-menu-wrap {
   		margin-right: 0px;
    }


    /**
    *  Navigation  Text color
    * ----------------------------------------------------------------------------
    */ 
    
    /* when  header dark */	
	.header-text-color-white ul.nav-menu > li:hover > a, 	
	.header-text-color-white ul.nav-menu li li:hover > a, 	
	.header-text-color-white div.nav-menu > ul > li:hover > a, 	
	.header-text-color-white div.nav-menu > ul li li:hover > a,	
	.header-text-color-white ul.nav-menu li li a	{		
		color: rgba(255, 255, 255, 0.95);
	}	
	.header-text-color-white ul.nav-menu li, 
	.header-text-color-white  div.nav-menu > ul li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	}	
    
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li:hover > a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li.current-menu-item a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu-flyout .mega-sub-menu li.mega-current-menu-item a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover,   
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu > li.mega-current-menu-parent:hover > a,
    ul.nav-menu li li a:hover, 
    ul.nav-menu li li:hover > a, 
    ul.nav-menu li li.current-menu-item > a, 
    div.nav-menu > ul li li a:hover, 
    div.nav-menu > ul li li:hover > a, 
    div.nav-menu > ul li li.current-menu-item > a{
        color: #007a6d;
    }
    .header-text-color-white ul.nav-menu > li:hover > a,
    .header-text-color-white ul.nav-menu > li.current-menu-item:hover > a,
    .header-text-color-white .toggled-on ul.nav-menu li li a:hover,
    .header-text-color-white .toggled-on div.nav-menu > ul li li a:hover,
    .header-text-color-dark .toggled-on ul.nav-menu li li a:hover,
    .header-text-color-dark .toggled-on div.nav-menu > ul li li a:hover,
    .header-text-color-dark  .toggled-on ul.nav-menu > li > a:hover,
    .header-text-color-white  .toggled-on ul.nav-menu > li > a:hover,
    ul.nav-menu > li:hover > a,
    div.nav-menu > ul > li:hover > a{
        color: #007a6d;
    }
    
    .header-text-color-white .toggled-on .nav-menu, 
    .header-text-color-white .toggled-on .nav-menu > ul {
        background-color: #ffffff;
    }

    
    /**
    *  Navigation 
    * ----------------------------------------------------------------------------
    */ 
    .menu-toggle {
        display: block;
        text-align: center;			
        cursor: pointer;        
        margin: 0px;
        position: absolute;
        top: 0px;
        right: 0;
        padding-right: 0px;
    }
    .kwayy-header-style-1 .menu-toggle,
    .kwayy-header-style-2 .menu-toggle {
    	top: 25px;
    }
        	
    .menu-toggle > span{
        display:none;
    }	
    ul.nav-menu, div.nav-menu > ul {
        float: none;
        overflow: hidden;
        max-height: 0px;
        position: absolute;
        left: 0px;
        z-index: 9999;
    }
    .kwayy-header-style-3 .menu-toggle {
        position:relative;
    }
	
    /*Responsive Menu*/	
    ul.nav-menu > li > a, 
    div.nav-menu > ul > li > a{
        padding:0px;
    }
    .toggled-on  .menu-main-navigation-container{
        padding-bottom:20px;
    }
    .toggled-on .nav-menu, 
    .toggled-on .nav-menu > ul, 
    .Headerlogo, .navbar  {
        width: 100%;
    }	
    .toggled-on  ul.nav-menu, 
    .Headerlogo, 
    .navbar{
        float:none
    }		
    .toggled-on .nav-menu li > ul {
        border-top:none;
        background-color: transparent;		
        float: none;
        margin-left: 20px;
        position: relative;
        left: auto;
        top: auto;
        visibility: visible;		
        opacity: 1;	
        -webkit-box-shadow: none;
        box-shadow: none;	
    }
    ul.nav-menu li ul li a, 
    div.nav-menu > ul li ul li a,
    ul.nav-menu li li.current-menu-item a{
        border:none;
    }
    .nav-menu li > ul a,
    ul.nav-menu > li.current-menu-item > a, 
    div.nav-menu > ul > li.current-menu-item > a{	
        width: auto;
    }
    .toggled-on .nav-menu li:hover > a, 
    .toggled-on .nav-menu .children a {
        background-color: transparent;	
    }
    .toggled-on .nav-menu .sub-menu .sub-menu{
        left:0px;
    }	
    .toggled-on .nav-menu .sub-menu .sub-menu, 
    .toggled-on div.nav-menu > ul .children  .children{
        top:0px;
    }	
    .toggled-on .nav-menu > li.menu-item-has-childrenmenu-without-color.menu-with-icon {
        position:relative;
    }	
    .righticon{
        position:absolute;
        right:0px;
        z-index:9999;
        top:17px;
    }
    .righticon i{
        font-size:20px;
        cursor:pointer;
    }
    .header-text-color-white .righticon i{
        color: rgba(255, 255, 255, 0.80);
    }
    .header-text-color-dark .righticon i{
        color: rgba(0, 0, 0, 0.80);
    }		
    ul.nav-menu, 
    div.nav-menu > ul {
        float:none;
        overflow: hidden;
        max-height: 0px;
    }	
    .toggled-on .nav-menu, 
    .toggled-on .nav-menu > ul {	
        margin-left: 0;		
        background:#fff;	
        margin-left: 0;
        padding: 15px;
        margin:0px;		
        max-height: 500px;
        overflow: auto;
        padding-top:0px;
        padding-bottom:0px;
        box-shadow: rgba(0, 0, 0, 0.129412) 3px 3px 15px;	
    }	
    ul.nav-menu .sub-menu,
    div.nav-menu > ul ul.children,
    ul.nav-menu li > ul,
    ul.nav-menu li:hover > ul,		
    div.nav-menu > ul li:hover > ul{
        overflow: hidden;
        max-height: 0px;
        -webkit-transition: max-height 0.25s ease-out;
        -moz-transition: max-height 0.25s ease-out;
        -ms-transition: max-height 0.25s ease-out;
        -o-transition: max-height 0.25s ease-out;
        transition: max-height 0.25s ease-out;
    }	
    ul.nav-menu .sub-menu.open,
    ul.nav-menu .sub-menu.open li > ul,
    div.nav-menu > ul .children.open,
    div.nav-menu > ul .children.open li > ul{
        max-height: 1000px;
    }		
    .righticon{
        display:block;
    }	
    .navbar {		
        min-height: 0px;
        margin-bottom: 0px;
    }
    ul.nav-menu > li,
    div.nav-menu > ul > li {
        position: relative;
        display: block;
        float:none;
    }	
    ul.nav-menu  li,
    div.nav-menu > ul li  {
        font-size: 15px;
        line-height: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.14);		
        margin: 0;
    }	
    ul.nav-menu  li li:last-child,
    div.nav-menu > ul li li:last-child{
        border-bottom: none;	
    } 	
    ul.nav-menu > li a,
    div.nav-menu > ul > li a {
        padding-top: 5px;
        padding-bottom: 5px;
        display:inline-block;
    }	
    ul.nav-menu li:hover > ul,
    div.nav-menu > ul li:hover > ul{
        top:0px;
    }	
    ul.nav-menu > li.menu-item-has-children > a:after,
    div.nav-menu > ul > li.menu-item-has-children > a:after,
    ul.nav-menu li ul li.menu-item-has-children > a:after, 
    div.nav-menu > ul li ul li.menu-item-has-children > a:after{
        display:none;
    }	
    .toggled-on ul.nav-menu > li:hover > a, 	
    .toggled-on ul.nav-menu li li:hover > a, 
    
    .toggled-on div.nav-menu > ul > li:hover > a, 	
    .toggled-on div.nav-menu > ul li li:hover > a,
    
    .toggled-on ul.nav-menu li li.current-menu-item > a	{
        background-color:transparent;		
    }	
    .toggled-on ul.nav-menu li li:hover a{
        border:none;
    }	
    .nav-menu .sub-menu .sub-menu, 
    div.nav-menu > ul .children .children{
        border:none;
    }
    /* when  header white */		
    ul.nav-menu li, 
    div.nav-menu > ul li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }	
    /* when header white */
    .header-text-color-dark ul.nav-menu > li:hover > a{
        color: rgba(0, 0, 0, 0.72) ;
    }	
    .tm-header-invert #navbar {
   		float: none;
    }    
    /*kwayy-header-style-2*/	
    .kwayy-header-style-2 #stickable-header  .headerlogo{
        position:relative;
    }
    .kwayy-header-style-2 #stickable-header ul.nav-menu, 
    .kwayy-header-style-2 #stickable-header div.nav-menu > ul{
        position:absolute;
        z-index:1001;
        text-align:left;
    }
    .kwayy-header-style-2 #stickable-header ul.nav-menu > li, 
    .kwayy-header-style-2 #stickable-header div.nav-menu > ul > li{
        display:block;
    }	
    .kwayy-header-style-2 #stickable-header ul.nav-menu > li:nth-child(3), 
    .kwayy-header-style-2 #stickable-header div.nav-menu > ul > li:nth-child(3){
        margin-right:0px;
    }	
    /*kwayy-header-style-3*/	
    .kwayy-header-style-3 .menu-toggle{
        padding:0px;
        height: 55px;
        line-height: 55px !important;
    }	
    .kwayy-header-style-3 #stickable-header ul.nav-menu > li, 
    .kwayy-header-style-3 #stickable-header div.nav-menu > ul > li {			
        text-align: left;
    }	
    .kwayy-header-style-3 #stickable-header .toggled-on ul.nav-menu > li,
    .kwayy-header-style-3 #stickable-header .toggled-on div.nav-menu > ul > li{
        display:block;
    }	
    .toggled-on ul.nav-menu > li > a, 
    .toggled-on div.nav-menu > ul > li > a {		
        height: auto;
        line-height: 20px !important;
    }	
    .toggled-on ul.nav-menu > li:hover > ul, 
    .toggled-on div.nav-menu > ul > li:hover > ul{
        top:0px;
    }	
    .toggled-on  ul.nav-menu ul a, 
    .toggled-on  div.nav-menu ul ul a{
        padding-left:0px;
    }	
    ul.nav-menu > li > a:before{
        display:none;
    }	
    .kwayy-header-style-2 #stickable-header ul.nav-menu > li:first-child, 
    .kwayy-header-style-2 #stickable-header div.nav-menu > ul > li:first-child,
    .kwayy-header-style-2 #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li:first-child{
        margin-left: 0px;
    }
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu-toggle:after {
        color: #FFFCFC;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-flyout ul.mega-sub-menu {		
        width: 100%;
        float: none;
    }
    #navbar {
        float: none;
    }	
    #navbar #site-navigation .mega-menu-wrap  .mega-menu-toggle{
        display: block;
        position: absolute;      
        right: 0px;
        width: 30px;
    }	
    .tm-header-invert #navbar #site-navigation .mega-menu-wrap  .mega-menu-toggle {  
        left: 0px;    
    }
 	    
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal li.mega-menu-item > a:before{
        display:none;
    }	
    .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a,
    .is-sticky .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a{
        height: 45px !important;
        line-height: 45px !important;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu {	
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item{
        float:none;
        width:100%;
    }	
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu > li.mega-menu-item > h4.mega-block-title{
        border-right:none;
    }
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a,
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu > li.mega-menu-item > h4.mega-block-title{
        color:#fff;
    }		
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item  {
        border-bottom: 1px solid #e1e1e1;
    }	
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item,
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a,
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover,	
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover, 
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li:hover > a{
        border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a{
        padding-left:0px !important;
        padding-right:0px !important;
    }	
    .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a{
        margin-left:0px !important;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu{
        padding-left:15px;		
    }	
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu,
    .header-text-color-white #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a{
        background: none;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover{
        background-color:transparent;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover{
        border-bottom: 1px solid #e1e1e1;
        border-right: none;
    }	
    #navbar #site-navigation .mega-menu-wrap .mega-menu-toggle:after{
        background:none;
        color:#2d2d2d;
    }	
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item-has-children > a:after {	
        position: absolute;
        right: 0;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal li.mega-menu-flyout li.mega-menu-item-has-children > a:after {		
        content: '\f107';
    }	
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover, 
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li:hover > a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu-flyout .mega-sub-menu li.mega-current-menu-item > a{
        background-color:transparent;
    }	
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu a:hover,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li:hover > a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal .mega-sub-menu li.current-menu-item a,
    #navbar #site-navigation .mega-menu-wrap .mega-menu-flyout .mega-sub-menu li.mega-current-menu-item a{
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
    }	
    .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a {
        margin-right: 0px !important;	
    }	
    .kwayy-header-style-2 #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-logo-after-this,
    .kwayy-header-style-2 #stickable-header ul.nav-menu > li.logo-after-this,
    .kwayy-header-style-2 #stickable-header div.nav-menu > ul > li.logo-after-this{
        margin-right: 0px !important;
    }	
    /*	.kwayy-header-style-3 #navbar .main-navigation {
        position: inherit;
    }	*/
    .kwayy-header-style-3 #navbar #site-navigation .mega-menu-wrap .mega-menu-toggle {
        display: inline-block;
        float:none;
        position:inherit;
        margin-top: 7px;
        top: 0px;
    }
    .kwayy-header-style-3 #navbar #site-navigation .mega-menu-wrap{
        text-align:center;
    }
    .kwayy-header-style-3 #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal{
        width:auto;
        padding-left:15px;
        padding-right:15px;
    } 
    #navbar.k_searchbutton #site-navigation .mega-menu-wrap .mega-menu-toggle{
        right: 28px;
    }	
    .kwayy-header-style-3 #navbar.k_searchbutton #site-navigation .mega-menu-wrap{
        margin-right:0px;
    }
    .kwayy-header-style-3 .k_searchbutton .k_flying_searchform span {
        right: 50%;		
        margin-right: -30px;
    }
    .k_searchbutton .menu-toggle {
        right: 37px;		
    }	
    .kwayy-header-style-3 .k_searchbutton .menu-toggle i {	
        margin-left: -42px;
    }	
    .kwayy-header-style-3 .k_searchbutton .menu-toggle{
        right: 0px;	
    }	
    
    .mega-sub-menu{
        display:none !important;
    }
    .mega-sub-menu.open, #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal li .mega-sub-menu .mega-sub-menu{
        display:block !important;
    }
    
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item{
        position:relative;
    }	
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li .righticon {
        top: 7px;
    }
    .main-navigation .mega-menu-wrap ul.mega-menu > li.mega-menu-item > a{
        padding-left:0px !important;
    }
    #navbar #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal li.mega-menu-item > a:after {
        display: none;
    }
    
    .nav-menu .last .sub-menu{
		left:0px;
	}
	.nav-menu .lastsecond .sub-menu .sub-menu, 
	.nav-menu .last .sub-menu .sub-menu{
		left: auto;
	}
    
    
}


/* ********************** Responsive Menu Code END **************************** */




/******************************************************/
/******************* Custom Code **********************/


/******************************************************/
